body{
    margin: 0;
}
header{
    color:yellowgreen;
    background-image:url(https://c4.wallpaperflare.com/wallpaper/295/566/373/sky-ultra-wide-eclipse-photography-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    overflow: hidden;
    text-align: center;
    font-family:fantasy;
    font-size: x-large;
}
nav{
    background-color: aquamarine;
}
.Menu{
    list-style: none;
    padding: 0;
    background-color: #111f2e;
    width: 100%;
    max-width: 1600px;
}
.Menu li a{
    text-decoration: none;
    display:block;
    color:aliceblue;
    padding: 20px;
}
.Menu li{
    display:inline-block;
    text-align: center;
}
.Menu li a:hover{
    background: yellowgreen;
}
i{
    padding: 5px;
}
h2{
    color:blue;
    padding: 20px 20px 0 20px;
}
p{
    padding: 10px 20px 0px 20px;
    color:midnightblue;
}
.imagen1{
    width: 400px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.imagen2{
    width: 500px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
h3{
    padding: 10px 10px 0 20px;
    color:red;
}
.imagen3{
    width: 500px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.imagen4{
    width: 500px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
footer{
    width:100%;
    background-color:grey;
    padding: 20px 60px 20px 20px;
    text-align:center;
}
footer i{
padding: 10px;
}
footer i:hover{
    background-color: burlywood;
    width:100%;
}
